<!DOCTYPE html>
<html>
<head>
    <title>FutureFlow | Sign Up</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/x-icon" href="/static/ico.png">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9301191604998129"
    crossorigin="anonymous"></script>
    
    <meta name="description" content="A Fun and Simple, Unrestricted, Chat App">
</head>
<body>
    <div class="container">
        <h1>Sign Up</h1>
        {% if error %}
        <div class="error">{{ error }}</div>
        {% endif %}
        <form method="post" action="{{ url_for('signup') }}">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <label for="confirm_password">Confirm Password:</label>
            <input type="password" id="confirm_password" name="confirm_password" required>
            <button type="submit">Sign Up</button>
        </form>
        <p>Already have an account? <a href="{{ url_for('login') }}">Login</a></p>
    </div>


    <footer class="footer">
        <a style="color:#888;" href="https://github.com/ousmblueninja">Made by GigabiteStudios</a>
    </footer>

</body>
</html>